node_modules


# Output
.output
.vercel
/.svelte-kit
/build

/POCKETBASE/pocketbase
/POCKETBASE/pb_data

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
